.about-blob {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    padding: 4rem 0;
}

.about-blob-left {
    
    background: url('/assets/images/megathon-blobs/4-about-us-our-history-blob.svg');
    background-position:center;
    background-size: contain; 
    background-repeat: no-repeat;
    
    margin-left: auto;
    margin-right: -100px;
    margin-top: -50px;
    background-color: transparent;
}

.about-blob-right {
    
    margin-left: -50px;
    margin-right: auto;
    margin-top: 100px;
    z-index: 1;
}
.about-blob-right::before{
    content: "";
    position: absolute;
    width:100vw;
    height: 75vh;
    background: url('/assets/images/megathon-blobs/5-about-us-2019-blob.svg') no-repeat center center;
    background-size: 100% 100%;
    z-index: -1;
}

.about-blob-img {
    margin: 2rem 0;
}

.about-blob-text {
    width: 50%;
}

.about-blob-heading {
    width: 95%;
    color: orange;
}

@media (max-width: 1400px) {
    .about-blob-text {
        width: 75%;
    }

    .about-blob-heading {
        width: 70%;
    }

    .about-blob-left,
    .about-blob-right {
        margin: 0 auto;
    }

    .about-blob-img > img {
        width: 300px;
    }
}

@media (max-width: 720px) {
    .about-blob-img > img {
        width: 250px;
    }

    .about-blob-heading {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .about-blob-left{
        background: url('/assets/images/megathon-blobs/4-about-us-our-history-blob.svg');
        background-position:center;
        background-size: cover; 
        border-radius: 0%;
    }
    .about-blob-right::before{
        content: "";
        background: url('/assets/images/megathon-blobs/5-about-us-2019-blob.svg');
        background-position: center;
        background-size: cover;
        border-radius: 0%;
    }

}

@media (max-width: 450px) {
    .about-blob {
        width: 150%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .about-blob-text {
        width: 65%;
    }

    .about-blob-img {
        margin-left: 25px;
    }
}

