footer{
    background:url('/assets/images/megathon-blobs/13-footer-background-blob.svg');
    background-position: top;
    background-size: cover;
    font-family: 'Muli', sans-serif;
    color: white;
}

.fab{
    font-size: 1.75rem;
    color: white;
}

.img-fluid{
    background: none;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}