body {
    color: white;
    background: black;
}

.fullpage {
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.main-heading {
    font-family: "Muli";
    font-weight: 900;
    font-size: 7.5rem;
    letter-spacing: -0.07em;
    color: #313131;
    line-height: 0.8em;
    margin-top: 80px;
}

.hero-title {
    font-size: 7.5rem!important;
    font-weight: bold;
}

.hero-title-gradient {
    background: linear-gradient(rgba(0, 120, 153, 0.5) 0%, rgba(103, 180, 111, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
    color: transparent;
}

.hero-2019 {
    font-size: 30rem!important;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
    line-height: 10rem;
    letter-spacing: -5rem;
}

@media (max-width: 768px) {
    .main-heading {
        max-width: 100vw;
        font-size: 4rem;
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    .main-heading {
        font-size: 3rem;
    }
}
