body {
    color: white;
    background: black;
    overflow-x: hidden;
}

#landing {
    height: 100vh;
}

.fullpage {
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.hero-parent {
    z-index: 10;
    position: absolute;
    top: 43vh;
}

.hero-title {
    font-size: 7.5rem;
    font-weight: var(--font-extra-bold);
    line-height: 3rem;
    z-index: 10;
}

.hero-title-gradient {
    background: linear-gradient(45deg, #92FE9D, #00C9FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero-byline {
    font-family: 'Barlow', sans-serif;
    font-weight: var(--font-semi-bold);
    font-size: 2rem;
}

.hero-2019 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30rem;
    font-weight: var(--font-extra-bold);
    color: #313131;
    position: absolute;
    right: -35rem;
    top: -13rem;
    line-height: 25rem;
}

@media screen and (max-width: 1500px) and (min-width: 992px){
    .hero-2019 {
        right: -32rem;
    }
}
