.howzhack {
    height: 50vh;
}

.howzhack-blob {
    margin: 0 auto;
    background: url("/assets/images/megathon-blobs/18-header-individual-behind-megathon-red-blob.svg") center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

@media (min-width: 600px) {
    .howzhack-blob {
        background-size: contain;
    }

    .howzhack-blob .about-blob-text {
        width: 40%;
    }
}
