.probs-blob {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    padding: 4rem;

    height: 550px !important;
    width: 550px !important;
}

.probs-blob-left {
    position: relative;
    background-color: transparent;
    z-index: 2;
    margin-left: auto;
    margin-right: -100px;
    margin-top: -50px;
}
.probs-blob-left::before{
    position: absolute;
    content: "";
    width:35vw;
    height:100%;
    background: url('/assets/images/megathon-blobs/17-header-individual-behind-megathon-green-blob.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.probs-blob-center {
    position: relative;
    background-color: transparent;
    margin-top: 50px;
    margin-right: -25px;
    margin-left: -25px;
    margin-bottom: -50px;
}
.probs-blob-center::before{
    position: absolute;
    content: "";
    width: 35vw;
    height: 100%;
    background: url('/assets/images/megathon-blobs/5-about-us-2019-blob.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    
}

.probs-blob-right {
    position: relative;
    background-color: transparent;
    margin-left: -100px;
    margin-right: auto;
    margin-top: -55px;
}
.probs-blob-right::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('/assets/images/megathon-blobs/11-problem-right-blob.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

}

.probs-blob-text {
    width: 75%;
    padding-top: 1rem;
}

@media (max-width: 1540px) {
    .probs-blob {
        height: 400px !important;
        width: 400px !important;
    }
}

@media (max-width: 1400px) {
    .probs-blob-left,
    .probs-blob-center,
    .probs-blob-right {
        margin: 0 auto;
    }
}


@media (max-width: 767px) {
    .probs-blob {
        height: 300px !important;
        width: 300px !important;
    }
    .row {
        display: block !important;
    }
    .probs-blob-left {
        background-size: cover;
    }
    .probs-blob-center {
        background-size: cover;
    }
    .probs-blob::before{
        width: 100vw;
    }
}
