body {
    color: white;
}

.fullpage {
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.main-heading {
    font-family: 'Muli';
    font-size: 7.5rem;
}

.blob {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    text-align: center;

    padding: 4rem;
}

.blob-left {
    background: red;
    border-radius: 70% 30% 70% 30% / 50% 30% 70% 50%;

    margin-left: auto;
    margin-right: -50px;
}

.blob-center {
    background: green;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

    margin-top: 100px;
}

.blob-right {
    background: blue;
    border-radius: 15% 85% 30% 70% / 50% 50% 50% 50%;

    margin-left: -50px;
    margin-right: auto;
}

.blob-text {
    width: 75%;
    padding-top: 1rem;
}

@media(max-width: 768px) {
    .blob-left, .blob-center, .blob-right {
        margin: 0 auto;
    }

    .main-heading {
        font-size: 4rem;
        max-width: 100vw;
    }
}
