body {
    color: white;
}

.fullpage {
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.main-heading {
    font-family: 'Muli';
    font-weight: 900;
    font-size: 7.5rem;
    letter-spacing: -0.07em;
    color: #313131;
}

.blob {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    text-align: center;

    padding: 4rem;
}

.blob-left {
    background: #007899;
    background: linear-gradient(-60deg, rgba(0,120,153,0.5) 0%, rgba(103,180,111,1) 100%);
    border-radius: 67% 33% 73% 27% / 46% 42% 58% 54%  ;
    z-index: 2;
    margin-left: auto;
    margin-right: -100px;
    margin-top: -50px;
}

.blob-center {
    background: green;
    background: linear-gradient(60deg, rgba(177,112,18,1) 0%, rgba(179,104,25,0.5) 100%);
    border-radius: 50% 50% 36% 64% / 68% 28% 72% 32% ;
    z-index: 1;
    margin-top: 50px;
    margin-right: -25px;
    margin-left: -25px;
    margin-bottom: -50px;
}

.blob-right {
    background: blue;
    background: linear-gradient(-120deg, rgba(199,222,215,1) 0%, rgba(217,195,212,0.5) 100%);

    border-radius: 56% 44% 34% 66% / 34% 41% 59% 66%;

    margin-left: -100px;
    margin-right: auto;
    margin-top: -55px;
    z-index: 2;
}

.blob-text {
    width: 75%;
    padding-top: 1rem;
}

@media(max-width: 768px) {
    .blob-left, .blob-center, .blob-right {
        margin: 0 auto;
    }

    .main-heading {
        font-size: 4rem;
        max-width: 100vw;
    }
}
