---
layout: home
---

{% capture ABOUT_US %}
<p style="color: red">HELLO</p>
Dolor sit deserunt aperiam tempora sit. Aut cum sapiente aperiam et tenetur Suscipit magni alias modi officia officiis aspernatur repellat asperiores Provident laborum quaerat alias atque porro Libero mollitia maiores.
{% endcapture %}

{% include section.html heading="About us" content=ABOUT_US %}

{% capture PROBLEM_STATEMENT %}
<p style="color: red">PROBLEMS :(</p>
Dolor sit deserunt aperiam tempora sit. Aut cum sapiente aperiam et tenetur Suscipit magni alias modi officia officiis aspernatur repellat asperiores Provident laborum quaerat alias atque porro Libero mollitia maiores.
{% endcapture %}

{% include section.html heading="Problem Statements and testing long headings" content=PROBLEM_STATEMENT %}
