---
layout: home
---

{% capture ABOUT_US %}
<div class="row">
    <div class="col-md-6 col-sm-12 about-blob about-blob-left">
        <div class="about-blob-heading">
            <h1>Our History</h1>
        </div>
        <div class="about-blob-text">
            Started in 2016, Megathon is an ambitious hackathon organised jointly by E-Cell IIIT Hyderabad and E-Cell
            IIT Hyderabad with the intention of promoting the spirit of entrepreneurship and development among the
            student community in and around Hyderabad. The first 2 editions of Megathon turned out to be huge successes
            with participation from 80 teams having around 450 participants and over 1000 aspirants from 85+ colleges in
            the first year which rose to over 600 participants and 1000 aspirants.
        </div>
        <div class="about-blob-img">
            <iframe
                src="https://www.youtube.com/embed/KuaNsJj31Qw"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 about-blob about-blob-right">
        <div class="about-blob-heading">
            <h1>Fast forward to 2019</h1>
        </div>
        <div class="about-blob-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.
        </div>
    </div>
</div>
{% endcapture %}
{% include section.html heading="About us" content=ABOUT_US style="about_us" %}

<div class="p-md-5 w-100 invisible">&nbsp;</div>

{% capture FORMAT %}
<div class="p-md-3 w-100 invisible">&nbsp;</div>
<div class="format-container">
    <div class="row">
        <div class="col-md-6 offset-md-6 col-sm-12">
            <div class="format-blob" style="--seq: '1'">
                <div class="format-blob-text">sequi commodi alias nihil ratione inventore Ea voluptatum eum modi aspernatur saepe. Aperiam placeat rerum</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="format-blob" style="--seq: '2'">
                <div class="format-blob-text">sequi commodi alias nihil ratione inventore Ea voluptatum eum modi aspernatur saepe. Aperiam placeat rerum</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-6 col-sm-12">
            <div class="format-blob" style="--seq: '3'">
                <div class="format-blob-text">sequi commodi alias nihil ratione inventore Ea voluptatum eum modi aspernatur saepe. Aperiam placeat rerum</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="format-blob" style="--seq: '4'">
                <div class="format-blob-text">sequi commodi alias nihil ratione inventore Ea voluptatum eum modi aspernatur saepe. Aperiam placeat rerum</div>
            </div>
        </div>
    </div>
</div>
{% endcapture %}
{% include section.html heading="Format" content=FORMAT style="format" %}

<div class="p-md-5 w-100 invisible">&nbsp;</div>

{% capture PROBLEM_STATEMENT %}
<div class="row">
    <div class="col-md-4 probs-blob probs-blob-left">
        <div class="probs-blob-img">
            <img src="https://dummyimage.com/200x200/000/fff&text=P1" alt="PROB1" />
        </div>
        <div class="probs-blob-text">
            Problem 1 title
        </div>
    </div>

    <div class="col-md-4 probs-blob probs-blob-center">
        <div class="probs-blob-img">
            <img src="https://dummyimage.com/200x200/000/fff&text=P2" alt="PROB2" />
        </div>
        <div class="probs-blob-text">
            Problem 2 title
        </div>
    </div>

    <div class="col-md-4 probs-blob probs-blob-right">
        <div class="probs-blob-img">
            <img src="https://dummyimage.com/200x200/000/fff&text=P3" alt="PROB3" />
        </div>
        <div class="probs-blob-text">
            Problem 3 title
        </div>
    </div>
</div>
{% endcapture %}
{% include section.html heading="Problem<br />Statements" content=PROBLEM_STATEMENT style="problems" %}
