---
layout : wrapper
title : timeline
---
{% include upper_pic.html title = 'Timeline' size = '15vw' %}
<section class='timeline'>
	
	<ul>
	{% for data in site.data.events %}
	<li>
	{% if data.type contains 'online' %}
	<div class = "online">
	<time>{{data.date}}</time>
	
	<h5 >{{data.event}}</h5>
	
	</div>
	{% endif %}
	</li>
	{% endfor %}
	</ul>
</section>
<script type="text/javascript">
	(function() {

  var items = document.querySelectorAll(".timeline li");

  
  function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  function callbackFunc() {
    for (var i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add("in-view");
      }
    }
  }

  
  window.addEventListener("load", callbackFunc);
  window.addEventListener("resize", callbackFunc);
  window.addEventListener("scroll", callbackFunc);
 
})();
</script>