<div id="About" class="scrollspy">
  <div class="container">
    <h3>
      About Megathon
    </h3>
    <div class="row">
      <div class="col s12 m2">
        <img class="responsive-img" src="{{site.baseurl}}/assets/images/icons/Bulb.png" alt="bulb.png">
      </div>
      <p class="col s12 m10">
        <b>History: </b>Started in 2016, Megathon is an ambitious hackathon organised jointly by E-Cell IIIT Hyderabad and E-Cell IIT Hyderabad with the intention of promoting the spirit of entrepreneurship and development among the student community in and around Hyderabad. The first 2 editions of Megathon turned out to be huge successes with participation from 80 teams having around 450 participants and over 1000 aspirants from 85+ colleges in the first year which rose to over 1000 participants and 1500 aspirants.
      </p>
    </div>

    <div class="row">
      <div class="col s12 m10">
        <b>Welcome to 2018: </b>In its 3rd Edition Megathon went under a rigorous transformation. This year we decided to make Megathon accessible beyond Hyderabad to the whole country. For this we are proud to introduce to you the Online Round of Megathon, which will help contribute ideas for Women Safety. Continuing the 24 hour Onsite Hackathon where students prototype and build their business model this year too, we are also bringing Road to Megathon- a workshop to help develop technical abilities, and the Business Hack where the top ideas will be turned to reality.
      </div>
      <div class="col s12 m2">
        <img class="responsive-img" src="{{site.baseurl}}/assets/images/icons/Phone.png" alt="bulb.png">
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <h4>Megathon 2016</h4>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PtmJd0yNvJA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col s12 m6">
        <h4>Megathon 2017</h4>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KuaNsJj31Qw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
