<div id="About" class="scrollspy">
  <div class="container">

    <!-- Single Heading line -->
    <h3 class="center-align mb-3 mt-5 heading">About Megathon</h3>

    <div class="container-fix">
      <div class="row heading-fix">
        <h5><b>History</b></h5>
      </div>
      <div class="row video-fix">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KuaNsJj31Qw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row content-fix">
        Started in 2016, Megathon is an ambitious hackathon organised jointly by E-Cell IIIT Hyderabad and E-Cell IIT Hyderabad with the intention of promoting the spirit of entrepreneurship and development among the student community in and around Hyderabad. The first 2 editions of Megathon turned out to be huge successes with participation from 80 teams having around 450 participants and over 1000 aspirants from 85+ colleges in the first year which rose to over 1000 participants and 1500 aspirants.
      </div>
    </div>

    <div class="container-fix">
      <div class="row heading-fix">
        <h5><b>Welcome to 2018</b></h5>
      </div>
      <div class="row video-fix">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PtmJd0yNvJA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row content-fix">
        In its 3rd Edition Megathon went under a rigorous transformation. This year we decided to make Megathon accessible beyond Hyderabad to the whole country. For this we are proud to introduce to you the Online Round of Megathon, which will help contribute ideas for Women Safety. Continuing the 24 hour Onsite Hackathon where students prototype and build their business model this year too, we are also bringing Road to Megathon- a workshop to help develop technical abilities, and the Business Hack where the top ideas will be turned to reality.
      </div>
    </div>

  </div>
</div>
