<!-- <div id="banner">
	<i class="fa fa-times-circle" id="closeable" onclick="kill()"></i>
	<div class="align-fill">
    	<div class="align-box">
      			<img src="{{site.baseurl}}/assets/images/logos/logo_online.png" class="responsive-img">
      	</div>
      	<div class="align-box">
      		<a class="btn-large btn-line waves-effect waves-white" href="https://megathononline.hackerearth.com/" style="font-size:1.4em;">Register Now</a>
    	</div>
    </div>

</div> -->

<div id="banner">
	<div class="align-box-h">
		<i class="fa fa-times" id="closeBanner" onclick="kill()"></i> &nbsp
        <a href="{{site.baseurl}}/Apply/#content-main">Register for Megathon Onsite!</a>
	</div>
</div>
