<div class="scrollspy" id="Sponsors">
    <div class="container">

        <br> <br> <br> <br>
        {% assign names = site.data.sponsors %}

        <div class="sponsors">
            {% for sponsor in site.data.sponsors %}
                {% if sponsor.rank != "sameAsAbove" %}
                    <h4 class="heading-fix heading loww">{{ sponsor.rank }}</h4>
                    <div class="row center-list">
                {% endif %}
                <a href="{{ sponsor.url }}">
                    <img src="{{site.baseurl}}/assets/images/sponsors/{{ sponsor.pic }}">
                </a>
                {% if sponsor.count != "multiple" %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
