<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating" href="#About">FAQ</a></li>
    <li><a class="btn-floating">Apply Now</a></li>
    <li><a class="btn-floating">Schedule</a></li>
    <li><a class="btn-floating">BHack</a></li>
    <li><a class="btn-floating">Offline</a></li>
    <li><a class="btn-floating">Online</a></li>
    <li><a class="btn-floating">About</a></li>
  </ul>
</div>
      