<!-- Footer Start -->
<footer>
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">

    <div class="container pt-5">
        <div class="row">
        	<div class="col-12 col-md-6">
        		<img class="img-fluid rounded" src="{{site.baseurl}}/assets/images/logos/logo-ecell.png">
        	</div>
            <div class="col-12 col-md-6">
                <div class="container-fluid p-5 text-right">
                    <div class="row">
                        <div class="col-12">
                            <h5>
                                Brought to you by the Entrepreneurship Cell<br> International Institute of Information Technology
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 text-center">
                <div class="list-inline-item"><a href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><p><i class="fab fa-facebook-f"></i></p></a></div>
                <div class="list-inline-item"><a href="https://www.instagram.com/ecell_iiith/" target="_blank"><p><i class="fab fa-instagram"></i></p></a></div>
                <div class="list-inline-item"><a href="https://twitter.com/ecell_iiithyd" target="_blank"><p><i class="fab fa-twitter"></i></p></a></div>
                <div class="list-inline-item"><a href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><p><i class="fab fa-youtube"></i></p></a></div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->