<!-- Footer Start -->
<footer>
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <div class="container p-5 m-5">
        <div class="row">
            <div class="col-md-3 my-auto">
                <img class="img-fluid mx-auto rounded float-left" src="{{site.baseurl}}/assets/images/logos/logo-ecell.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container p-5 text-right">
                    <div class="row">
                        <div class="col-12">
                            <h2>
                                Brought to you by the Entrepreneurship Cell<br> International Institute of Information Technology
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <ul class="list-inline pt-3">
                    <li class="list-inline-item p-4 m-4"><a href="https://www.facebook.com/ecell.iiithyd/" target="_blank"><h1><i class="fab fa-facebook-f"></i></h1></a></li>
                    <li class="list-inline-item p-4 m-4"><a href="https://www.instagram.com/ecell_iiith/" target="_blank"><h1><i class="fab fa-instagram"></i></h1></a></li>
                    <li class="list-inline-item p-4 m-4"><a href="https://twitter.com/ecell_iiithyd" target="_blank"><h1><i class="fab fa-twitter"></i></h1></a></li>
                    <li class="list-inline-item p-4 m-4"><a href="https://www.youtube.com/channel/UCE8mniuxsSH_SVYTmKWxtfA" target="_blank"><h1><i class="fab fa-youtube"></i></h1></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->