<div id="Format" class="scrollspy">
  <div class="container">
    <h3>Format</h3>
    In this edition, we decided to make Megathon accessible beyond
    Hyderabad to the whole country. For this we are proud to introduce
    to you the Online Round of Megathon, which will help contribute
    ideas for Women Safety. Following this shall continue the 24 hour
    Onsite Hackathon where students prototype and build their business
    model this year as well. We are also bringing Road to Megathon - a
    workshop to help develop technical abilities, and the Business Hack
    where the top ideas will be turned to reality. 
  </div>
</div>
