<div id="Format" class="scrollspy">
  <div class="container">

    <!-- Single Heading line -->
    <h3 class="center-align mb-3 mt-5">Format</h3>
    <hr>

    In this edition, we decided to make Megathon accessible beyond
    Hyderabad to the whole country. For this we are proud to introduce
    to you the Online Round of Megathon, which will help contribute
    ideas for Women Safety. Following this shall continue the 24 hour
    Onsite Hackathon where students prototype and build their business
    model this year as well. We are also bringing Road to Megathon - a
    workshop to help develop technical abilities, and the Business Hack
    where the top ideas will be turned to reality.
    <br>
    <br>
    <a href="{{site.baseurl}}/events">Click here for a more detailed look at the events</a>
    <br>
    <a href="{{site.baseurl}}/faq">For more details, check out the FAQ</a>

  </div>
</div>

<br>
<div class="container" style="overflow: scroll;">
<pre>

                                              -top 3 in each category
                                              | get mentorship for |
                                              |                    |
MEGATHON ONLINE     Road to Megathon     Megathon        B-Hack < -V
(15 July - 12 Aug)  (8-9 September)    (29-30 Sep)     (February)
    Online  |            Workshop      Onsite Hack^
  Hackathon |            @IIT H          @IIIT-H  |      @IIT H
            |                                     |
            V----->top 3 go for felicitation----->|
</pre>
</div>
