<!-- <div class = "scrollspy" id="online">
	<div class = "container">

  <div class="card">
    <div class="card-content">
    <h1><centre>Events</centre></h1>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        {% for data in site.data.sections %}
        <li class="tab"><a href="#test{{forloop.index}}">{{data.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      {% for data in site.data.sections %}
      <div id="test{{forloop.index}}">
      	<h2>{{data.name}}</h2>
      	<h4>{{data.format}}</h4>
      	<h5>{{data.about}}</h5>
      	<div class="card-action">
          <a href="{{data.link}}">Know More</a>
        </div>
      </div>

      {% endfor %}
       </div>
  </div>

	</div>
</div> -->
<!-- <br> -->
<div class="scrollspy" id="format">
	<div class="container">
		<div class="row">
	    <div class="col s12 px-0">
				<ul class="tabs">
					{% for event in site.data.eventlist %}
					<li class="tab col s3"><a class="black-text" href="#{{event.link}}">{{event.name}}</a></li>
					{% endfor %}
				</ul>
			</div>

			{% for event in site.data.eventlist %}
			<div id="{{event.link}}" class="col s12">
				<div class="row">
					<div class="col s12">
						<br>
						{{event.about}} <a href="{{site.baseurl}}/{{event.link}}">[Read More]</a>
					</div>
				</div>

				<div class="row">
					<div class="col s4 center-align">
						<a href="{{event.url}}">Apply Now</a>
					</div>

					<div class="col s4 center-align">
						<a href="{{site.baseurl}}/FAQ/{{event.link}}">FAQ</a>
					</div>


					<div class="col s4 center-align">
						<a href="#">Some other CTA</a>
					</div>
				</div>

			</div>
			{% endfor %}
		</div>
	</div>
</div>
