<br>
<div class="container" style="overflow: scroll;">
<pre>

                                              -top 3 in each category
                                              | get mentorship for |
                                              |                    |
MEGATHON ONLINE     Road to Megathon     Megathon        B-Hack < -V
(15 July - 12 Aug)  (8-9 September)    (29-30 Sep)     (February)
    Online  |            Workshop      Onsite Hack^     
  Hackathon |            @IIT H          @IIIT-H  |      @IIT H
            |                                     |
            V----->top 3 go for felicitation----->|
</pre>
</div>

<br>
<div class="scrollspy" id="format">
	<div class="container">
		<div class="row">
	    <div class="col s12 px-0">
				<ul class="tabs">
					{% for event in site.data.eventlist %}
					<li class="tab col s3"><a class="black-text white" href="#{{event.link}}">{{event.name}}</a></li>
					{% endfor %}
				</ul>
			</div>

			{% for event in site.data.eventlist %}
			<div id="{{event.link}}" class="col s12">
				<div class="row">
					<div class="col s12">
						<br>
						{{event.about | truncatewords:100}} <a href="{{site.baseurl}}/{{event.link}}">[Read More]</a>
					</div>
				</div>

				<div class="row mb-0">
					<div class="col s6 center-align">
						<a href="{{event.apply}}">Apply Now</a>
					</div>

					<div class="col s6 center-align">
						<a href="{{site.baseurl}}/faq#{{event.link}}">FAQ</a>
					</div>

<!--
					<div class="col s4 center-align">
						<a href="#">Some other CTA</a>
					</div> -->
				</div>

			</div>
			{% endfor %}
		</div>
	</div>
</div>
