<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8">

	{% include ganal.html %}

	<!-- MaterializeCSS being used -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- To modify behaviour of materialize -->
	<link rel="stylesheet" href="{{ "/assets/css/custom-materialize.css" | prepend: site.baseurl }}">

  <title>{{site.title}}</title>

  <!-- favicon -->
	<!-- <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/logos/logo-ecell.png"/> -->
</head>
