<section id="landing" class="d-flex align-items-center position-relative vh-100 cover hero">
    <div class="container-fluid mx-5">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 hero-parent">
            	<span class="hero-byline pl-1">meet &middot; ideate &middot; hack</span>
                <h1 class="hero-title">
                    megathon<span class="hero-title-gradient">.in</span>
                </h1>
            </div>
            <div class="d-none d-sm-block col-lg-6 col-xl-7">
                <span class="hero-2019">
                	2019
                </span>
            </div>
        </div>
    </div>    

</section>
