
<!-- Google AJAX. Needed? idk.TODO REVIEW -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- JS files for materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<!-- Materialize initializers -->
<script src="{{ "/assets/js/mat.js" | prepend: site.baseurl }}"></script>

<!-- For navigation bar scrolling  -->
<script src="{{ "/assets/js/navscroll.js" | prepend: site.baseurl }}"></script>
