
<!-- Google AJAX. Needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- JS files for materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<!-- <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<!-- <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> -->

<!-- Materialize initializers -->
<script src="{{ "/assets/js/mat.js" | prepend: site.baseurl }}"></script>

<!-- For navigation bar scrolling  -->
<script src="{{ "/assets/js/navscroll.js" | prepend: site.baseurl }}"></script>
