<div class="landing bebas-neue">
  <!-- <div class="overlay black">
  </div> -->
  <div class="overlay black opacity-5">
  </div>
  <div class="hero" id="landing-hero">
    <img class="of cover" src="{{site.baseurl}}/assets/images/back/hitec_night.jpg" alt="test">
  </div>

  <div class="align-fill">

    <div class="align-box">
      <div class="align-box-h mb-5">
        <div class="fixwh-container stout">
          <a href="https://ecell.iiit.ac.in" target="_blank">
            <img class="of" alt="IIIT E-Cell" src="{{site.baseurl}}/assets/images/logos/logo-ecell.png">
          </a>
        </div>

        and

        <div class="fixwh-container stout">
          <a href="http://ecell.iith.ac.in/" target="_blank">
            <img class="of" alt="IIT E-Cell" src="{{site.baseurl}}/assets/images/logos/iit_logo.png">
          </a>
        </div>

        present
      </div>



      <!-- <br>
      <br>
      <br> [DOESNT WORK IN CHROME] Spacing necessary as line-height of lower isn't all -->


      <h1 class="">MEGATHON</h1>
      <h2 class="right red-text">2018</h2>
      <!-- <h5 class="grey-text lighten-5">22-23rd September</h5> -->
      {% include scrolldown.html %}
    </div>

    <div class="align-box">
      <a class="btn-large btn-line waves-effect waves-white" style="font-size:1.4em;">Apply now</a>
    </div>
  </div>
</div>
