<div class="row landing m-0">
  <div class="col-sm-12 col-md-9 overlay black p-0">
  </div>
  <div class="col-sm-12 col-md-9 p-0">
    <div class="align-box">
      <h1 class="right">Megathon</h1>
      <h2 class="right red-text">2018</h2>
    </div>
  </div>
  <div class="col-sm-12 col-md-3 red p-0">
    <div class="align-box pl-5">
      <h3 class="left white-text">duh</h3>
      <h3 class="left white-text">duh</h3>
      <h3 class="left white-text">duh</h3>
      <h3 class="left white-text">duh</h3>

    </div>
  </div>
</div>
