<div class="landing bebas-neue">
  <!-- <div class="overlay black">
  </div> -->
  <div class="hero-overlay">
  </div>
  <div class="hero" id="landing-hero">
    <img class="img-responsive" src="{{site.baseurl}}/assets/images/back/charminar.jpg" alt="test">
  </div>

  <div class="align-fill">
    <div class="align-box">
      <h1 class="">MEGATHON</h1>
      <h2 class="right red-text">2018</h2>
      {% include scrolldown.html %}
    </div>

    <div class="align-box">
      <a class="btn-large btn-line waves-effect waves-white red">Apply now</a>
    </div>
  </div>
</div>
