<header class="nav" id="nav">
    <a class="nav-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/logos/megathon-white.png" alt="" width="800" height="677">
        <span>Megathon X</span>
    </a>
    <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="nav-menu" aria-label="Menu">
        <span></span><span></span>
    </button>
    <nav class="nav-menu" id="nav-menu">
        {% for link in site.data.navigation %}
        <a href="{{ site.baseurl }}/{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
        <a class="button button-small" href="{{ site.registration_url }}">Register</a>
    </nav>
</header>
