<div id="Schedule" class="scrollspy">
  <div class="container">
    <h3>Schedule</h3>
    <p>
      Click <a href="{{site.baseurl}}/timeline">here</a> for a more detailed timeline.
    </p>
     <table class ="striped centered responsive-table">
        <thead class="grey lighten-4">
          <tr>
              <th>Event</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Detailed Schedule</th>
          </tr>
        </thead>

        <tbody>
          {% for data in site.data.sections %}
          <tr class="grey lighten-5">
          <td>{{data.name}}</td>
          <td>{{data.start_date}}</td>
          <td>{{data.end_date}}</td>
          <td><a href="{{data.link}}">Schedule </a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
