<div id="Schedule" class="scrollspy">
  <div class="container">
    <h3>Schedule</h3>
     <table class ="stripped highlight responsive-table">
        <thead>
          <tr>
              <th>Event</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>More Detailed Schedule </th>
          </tr>
        </thead>

        <tbody>
          {% for data in site.data.sections %}
          <tr>
          <td>{{data.name}}</td>
          <td>{{data.start_date}}</td>
          <td>{{data.end_date}}</td>
          <td><a href="{{data.link}}">Detailed Schedule </a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
