<div id="Upcoming" class="scrollspy">
    <div class="container">
        <h3 class="center-align mb-3 mt-5 heading">Upcoming Events</h3>
        
        <!-- Changing structure for B-Hack. Original structure is commented the added line is the one below -->

        <!-- <div class="row"> -->
        <div class="align-box-h">

        {% for event in site.data.evtlist %}
            {% if event.name == "Business Hack" %}
            <!-- <div class="col m6 heading-fix"> -->
            <div class="heading-fix">

                <h4>{{ event.name }}</h4>
                <!-- <p class="upcoming-list">{{ event.about | slice : 0,250 }} -->
                <p class="upcoming-list">{{ event.about }}
                    <!-- <a class="clink" href="{{ site.baseurl }}{{ event.url }}" target="_blank">... [Read more]</a> -->
                </p>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
