---
layout: wrapper
---

{% include scrolltop.html %}

<div class="landing bebas-neue">
	<div class="overlay black opacity-5">
	</div>
	<div class="hero" id="landing-hero">
    	<img class="of cover blur" src="{{site.baseurl}}/assets/images/back/faq.jpg" alt="test">
	</div>
	<div class="align-fill">
    	<h1>Apply Now</h1>
    	{% include scrolldown.html %}
	</div>
    <span id="content-main"></span>
</div>

<br>
<div class="container center">
    <h4 class="heading">Megathon Onsite</h4>
    <iframe height=1000 width=100% src="https://www.stumagz.com/megathon2018/booking/" class="iframe-responsive">
        <p>Your browser does not support iframes. Please visit <a href="https://www.stumagz.com/megathon2018/booking/" target="_blank">this link for tickets</a></p>
    </iframe>
	<h4 class="heading">Megathon Online</h4>
	<a href="https://megathononline.hackerearth.com/">Registrations closed.</a>
    <br> <br>
    <!-- <h4>Other applications will be opened soon!</h4> -->
	<!-- {{content}} -->
</div>
