---
layout: wrapper
---

{% include scrolltop.html %}

<div class="landing bebas-neue">
	<div class="overlay black opacity-5">
	</div>
	<div class="hero" id="landing-hero">
    	<img class="of cover blur" src="{{site.baseurl}}/assets/images/back/faq.jpg" alt="test">
	</div>
	<div class="align-fill">
    	<h1>Apply Now</h1>
    	{% include scrolldown.html %}
	</div>
    <span id="content-main"></span>
</div>

<br>
<div class="container center">
	<h2 class="heading">Megathon Onsite</h2>
	<!-- <hr/> -->
	<h3>Registrations will go online at Midnight. Stay tuned for more.</h3>
	<br><br><br><br><br>
    <!--<h4 class="heading">Megathon Online</h4>
	<a href="https://megathononline.hackerearth.com/">Registrations closed.</a>
    <br> <br>-->
    <!-- <h4>Other applications will be opened soon!</h4> -->
	<!-- {{content}} -->
</div>
