---
layout: wrapper
---
{% capture content %}
{{page.title}}
{% endcapture %}

{% include scrolltop.html %}

{% include upper_pic.html title = content size = '10vw'%}

<div class ="container eventcont">
	{% for data in site.data.eventlist %}
	{% if data.name contains page.title %}

	<h3 class = "center-align">About</h3>

	<p>{{data.about}}</p>

	<h3 class = "center-align">Dates</h3>
	<p><b>Starts on:</b> {{data.date.start}}</p>
	<p><b>Ends on:</b> {{data.date.end}}</p>

	<!-- <p>{{data.detailed_date}}</p> -->
	<!-- Not including detailed date section wll be done if required timeline looks redundant without it -->

	<p>For more information check out <a href="{{site.baseurl}}/timeline">the Timeline</a></p>


	<h3 class = "center-align">Prizes</h3>
	<div class="align-box-h">

		<div class="prize">
			<img class="responsive-img" src="{{site.baseurl}}/assets/images/icons/first.png" alt="first prize">

			<div class="overlay prize-overlay">
				<div class="text"><b>First Prize</b> : {{data.prizes.first}}</div>
			</div>
		</div>


		<div class="prize">
			<img class="responsive-img" src="{{site.baseurl}}/assets/images/icons/second.png" alt="second prize">

			<div class="overlay prize-overlay">
				<div class="text"><b>Second Prize</b> : {{data.prizes.second}}</div>
			</div>
		</div>


		<div class="prize">
			<img class="responsive-img" src="{{site.baseurl}}/assets/images/icons/third.png" alt="third prize">

			<div class="overlay prize-overlay">
				<div class="text"><b>Third Prize</b> : {{data.prizes.third}}</div>
			</div>
		</div>

	</div>

	<p>{{data.prizes.misc}}</p>
	<p>{{data.prizes.more}}</p>

	<h3 class = "center-align">Format</h3>
	<p>{{data.format}}</p>

	<h3 class = "center-align">Eligibility</h3>
	<p>{{data.eligibility}}</p>

	<div class ="row">
		<div class="col s2 m6 l6 left-allign">
		<a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Apply Now</a>
		</div>
		<div class="col s2 m6 l6">
		<a class="waves-effect waves-light btn"><i class="material-icons left">link</i>Link</a>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>
