---
layout: wrapper
---

{% include scrolltop.html %}

<div class="landing bebas-neue">
    <div class="overlay black opacity-5">
    </div>
    <div class="hero" id="landing-hero">
            <div class="of cover blur" style="background-image: url('https://www.publicdomainpictures.net/pictures/60000/velka/handshake.jpg')" ></div>
    </div>
    <div class="align-fill">
        <h1>Sponsored by</h1>
        {% include scrolldown.html %}
    </div>
</div>

<div class="container">
</div>

<div class="container">
    {% include past_sponsors.html %}
</div>
